body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: royalblue;
    color: #ff601c;
    text-align: center;
}

.button {
    background-color: #ff601c;
}

.link {
    text-decoration: none;
    color: #fe4400;
}
