body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: #fe4400;
    color: cornsilk;
    text-align: left;
}

.button {
    background-color: blue;
}

.link {
    text-decoration: none;
    color: white;
}
